//find
.find {
  margin-top: 2.6rem;
  margin-left: 22.2rem;
  margin-right: 30rem;

  &-container {
    display: flex;
  }

  &-content {
    margin-top: 5.5rem;
    margin-left: 2.7rem;

    &-p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 300;
      color: $four-color;
      margin-top: 2.4rem;
      margin-bottom: 2.6rem;
    }
  }
}
